<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    
    <h3>Edit your Listing</h3>
    <br>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" placeholder="enter title" type="text" class="form-control" required>
            <div class="valid-feedback">It looks good!</div>
            <div class="invalid-feedback">Please provide a title.</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter description" class="form-control" required><%= listing.description %></textarea>
            <div class="valid-feedback">It looks good!</div>
            <div class="invalid-feedback">Please provide a description.</div>
        </div>
        
        <div class="mb-3">
            Original Image: <br>
            <img src="<%= originalImage %>" alt="listing image" width="200">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload new Image</label>
            <input type="file" name="image" value="<%= listing.image %>" placeholder="enter image URL" class="form-control">
            <div class="valid-feedback">It looks good!</div>
            <div class="invalid-feedback">Please provide an image.</div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= listing.price %>" placeholder="enter price" type="number" class="form-control" required>
            <div class="valid-feedback">It looks good!</div>
            <div class="invalid-feedback">Please provide a price.</div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" placeholder="enter location" type="text" class="form-control" required>
            <div class="valid-feedback">It looks good!</div>
            <div class="invalid-feedback">Please provide a location.</div>
        </div>
        </div>
        
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= listing.country %>" placeholder="enter country" type="text" class="form-control" required>
            <div class="valid-feedback">It looks good!</div>
            <div class="invalid-feedback">Please provide a country.</div>
        </div>
        
        <br><br>
        <button class="btn btn-dark add-btn">Edit</button>
    </form>
    </div>
    </div>
    <script src="/js/script.js"></script>

</body>
