<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3><%= listing.title %></h3>
        </div>
        <div class="card col-6 offset-3 show card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" >
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Hosted by <i><%= listing.owner.username %></i></p>
                    <p class="card-text"><%= listing.description %></p>
                    <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %> /night</p>
                    <p class="card-text"><%= listing.location %>, <%= listing.country %></p>
                </div>
        </div>
    <br>
    <!-- <ul>
        <li>Title: <%= listing.title %></li>
        <li>Description: <%= listing.description %></li>
        <li>Price: &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
        <li>Location: <%= listing.location %></li>
        <li>Country: <%= listing.country %></li>
    </ul> -->
    <br>
    
<% if (currUser && currUser._id.equals(listing.owner._id)) { %>
 
<div class="row mt-4">
  <div class="col-6 offset-3 d-flex gap-3">
    
    <a href="/listings/<%= listing._id %>/edit"
       class="btn add-btn">
       Edit
    </a>

    <form action="/listings/<%= listing._id %>?_method=DELETE"
          method="POST">
      <button class="btn btn-dark">
        Delete
      </button>
    </form>

  </div>
</div>
<% } %>

<hr class="mt-4">



<div class="row">
  <div class="col-6 offset-3">
    <h4>Reviews:</h4>
    <% if (currUser) { %>
    <form action="/listings/<%= listing._id %>/reviews"
          method="POST"
          novalidate
          class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating">Rating</label>
        <input type="range"
               name="review[rating]"
               id="rating"
               min="1"
               max="5"
               class="form-range">
               
      </div>

      <div class="mb-3 mt-3">
        <label for="comment">Comment</label>
        <textarea name="review[comment]"
                  id="comment"
                  rows="5"
                  class="form-control"
                  required></textarea>
        <div>
            <div class="invalid-feedback">
                Please provide a comment.
            </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-dark">
        Submit Review
      </button>
    </form>
<% } %>
    <hr/>

    <p><b>All Reviews</b></p>
    <div class="row">
    <% for(let review of listing.reviews) { %>
        <div class="card mb-3 col-5 ms-3">
            <div class="card-body">
                <p class="card-title">@<%= review.author.username %></p>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text">Rating: <%= review.rating %> / 5</p>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="mb-3">
                    <button type="submit" class="btn btn-dark btn-sm">Delete</button>
                </form>
            </div>
        </div>
    <% } %>
    </div>

  </div>
</div>
